body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
  background-color: blue
	}


h3 {
  font-family: Basier, sans-serif;
font-weight: bold;
	font-size: 14px;
	color: #de2f23;
	letter-spacing: 1px;
}


.article {
	max-width: 900px;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 20px;
	
}

	
.story_header {
	font-family: Time, sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 46px;
	margin-bottom: 0px;
}

.byline {
	font-weight: bold;
}

.story_copy {
	font-family: Pensum, serif;
	
}

.photo {
	width: 100%;
}
	
.photo_caption {
	color: gray;
	font-size: 14px;
	margin-top: 0px;
}

.footer {
	font-family: Basier, sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer_info {
	color: gray;
	font-size: 14px;
}

a {
	color: black;
	
}

a:hover {
	text-decoration-color: #ffcb04;
}






